/* wyzerowanie marginesów i wypełnień: */ 
h1, h2, h3 { 
    margin:0; 
    padding:0; 
} 
/*formatowanie znacznika body:*/ 
body { 
    background:#8080ff; 
    color:#000040; 
} 
/*formatowanie znaczników h1, h2 i elementu o identyfikatorze stopka:*/ 
h1,h2, footer { 
    background: #000040; 
    color: #8080ff; 
    text-align:center; 
} 

/*formatowanie elementu o m: */ 
menu { 
    background:#ffffff; 
    padding:1%; 
} 
/* tło kontenera */ 
#kontener { 
    background:#ffffff; 
}

article { 
    background:#80ffff; 
    float:left; 
    width:60%; 
    padding:1%; 
} 
nav { 
    float:right; 
    width:16%; 
    padding:1%; 
} 
footer{ 
    clear:both; 
    width:100%; 
    padding:5px 0 5px 0; 
    text-align:center; 
} 


*.box { background:#0000a0; 
        color:#dbffff; 
        padding:5px; 
        margin:5px; 
        font-size:90%;
} 
/* hiperłącza w elementach klasy box*/ 
*.box a{
    color:#ffffb0
} 
